/* main.css */
:global(html) {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

:global(h1, h2, h3, h4, h5, h6, p, ul) {
  margin: 0;
  padding: 0;
}
:global(body, #root) {
  height: 100%;
}
.box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}